fastapi==0.68.0
uvicorn==0.15.0
sqlalchemy==1.4.26
psycopg2-binary==2.9.1
aiofiles
APScheduler
asyncpg
bcrypt
databases
email-validator
fastapi-mail
gunicorn
Jinja2
jose
passlib
pydantic
pytz
SQLAlchemy
PyJWT
python-jose
python-dateutil
python-multipart
